# data
data/


# IDE
.vscode/


# models
model/

# tests
**/*test*
**/test/
# except src/utils/test_segmentation.py
!src/utils/test_segmentation.py


# latex
latex/


# cache
**/__pycache__/


# models
models/
# symbolic link
models


# logs
logs/


# &*%$#@ in vuefrontend
vuefrontend/**/*.png
vuefrontend/**/*.jpg
vuefrontend/package-lock.json


# ignore some baseline
baseline/GCN/
baseline/HiAGM/