# data
data/


# IDE
.vscode/


# models
model/

# tests
**/*test*
**/test/
# except src/utils/test_segmentation.py
!src/utils/test_segmentation.py


# latex
latex/


# cache
**/__pycache__/


# models
models/


# logs
logs/
